.AppContainer {
  display: flex;

  & > :nth-child(1) {
    flex-basis: calc(100vw / 3);
    justify-content: flex-end;
  }

  & > :nth-child(2) {
    flex-basis: calc(100vw * 2 / 3);
  }
}

@media screen and (max-width: 896px) {
  .AppContainer {
    & > :nth-child(1) {
      display: none;
    }
    & > :nth-child(2) {
      flex-grow: 1;
    }
  }
}
