@import "variables";

.CommonHeader {
  display: flex;
  justify-content: flex-start;
}

.Links {
  // width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 220px;
  color: $pale-text-color;
}

.Link {
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 12px;
  font-size: $font-size-lg;

  & > span {
    margin: 0 20px;
  }
}

.LinkIcon {
  width: 20px;
  height: 20px;
  text-align: center;
}
