$font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont,
  sans-serif;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-weight-normal: 300;
$font-weight-bold: 600;
$border-color: rgb(239, 243, 244);
$pale-text-color: rgb(83, 100, 113);
$font-color: rgb(15, 20, 25);
$font-color-gray: rgb(83, 100, 113);
$link-text-color: rgb(29, 155, 240);
$accent-color: rgb(89, 90, 233);
$hover-color: rgb(89, 90, 233, 0.2);
