$font-family: hiragino-kaku-gothic-pron, -apple-system, system-ui,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$border-color: rgb(239, 243, 244);
$pale-text-color: rgb(83, 100, 113);
$font-color: rgb(15, 20, 25);
$font-color-gray: rgb(83, 100, 113);
$link-text-color: rgb(29, 155, 240);
$accent-color: rgb(89, 90, 233);
$hover-color: rgb(89, 90, 233, 0.2);
